@import "./variables.scss";
.Footer {
  margin: 0 auto;
  padding: 15px 75px;
  .footer-nav > ul {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer-nav {
    position: relative;
    right: 15px;
  }

  a {
    color: $primary-color;
  }

  li {
    list-style-type: none;
  }

  .footer-info {
    margin-top: 50px;
  }
}
