$white: #fdfdfc;
$black: #030302;

$bright-white: #fdfcfa;
$dark-black: #000000;

$glass: rgba(255, 255, 255, 0.55);

$primary-color: #616cae;
$primary-dark-color: #616cae;
$primary-light-color: #616cae;

$secondary-color: #f3f1e7;
$third-color: #39416f;
