$white: #f2efeb;
$black: #3b3833;

$bright-white: #fdfcfa;
$dark-black: #000000;

$glass: rgba(255, 255, 255, 0.55);

$primary-color: #669999;
$primary-dark-color: #669999;
$primary-light-color: #669999;

$secondary-color: #669999;
$third-color: #669999;
